*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Header Style*/
.header{
	width: 100%;
	padding: 0 10%;
	position: fixed;
	text-align: center;
	background: black;
	z-index: 1;
}
.header .logo{
	float: left;
	padding: 10px 0;
	cursor: pointer;
}
.header .logo img{
	float: left;
	width: 40px;
}
.header .logo p{
	float: left;
	color: #fff;
	font-family: arial;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	margin: 5px 0 0 5px;
}
.header .logo p span{
	float: left;
}
.header .menu{
	display: inline-block;
	padding: 20px 0;
}
.header .menu ul{
	list-style: none;
	
}
.header .menu li{
	display: inline-block;
	margin: 0 15px;
}
.header .menu li a{
	text-decoration: none;
	text-transform: capitalize;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	padding: 20px 0 0 0;
}
.header .menu li a:hover{
	border-top: 1px solid #fff;
}

.header .menu1{
	width: 100%;
	display: inline-block;
	padding: 15px 0;
	display: none;
}
.header .menu1 ul{
	list-style: none;
	display: grid;
	grid-template-columns: auto auto auto auto;
	justify-content: space-between;
}
.header .menu1 li{
	display: inline-block;
}
.header .menu1 li a{
	text-decoration: none;
	text-transform: capitalize;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	padding: 2px 0 0 0;
}
.header .menu1 li a:hover{
	border-top: 1px solid #fff;
}


.header .search_logIn{
	float: right;
}
.header .search_logIn a img{
	width: 20px;
	margin-right: 5px;
	float: left;
}
.header .search_logIn a p{
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	float: left;
	margin-top: 3px;
}
.header .search_logIn a{
	display: inline-block;
	text-decoration: none;
	margin-left: 30px;
	padding: 20px 0;
}

/* Mobile responsive (max-width: 768px)*/
@media only screen and (max-width: 768px) {
	.header .menu{
		width: 100%;
		display: none;
	}
	.header .logo{
		display: block;
	}
	.header .logo img{
		width: 35px;
	}
	.header .logo p{
		font-size: 11px;
	}
	.header .menu1{
		display: block;
		margin-top: 50px;
		border-top: 1px solid #ffffff33;
	}
	.header .search_logIn a{
		margin-left: 20px;
		padding: 17px 0;
	}
}

/* Home Style*/
.home{
	width: 100%;
	height: 600px;
}
.home .h_img{
	width: 100%;
	height: 600px;
}
.home .home_txt{
	width: 500px;
	position: absolute;
	top: 175px;
	left: 10%;
}
.home_txt .h_p1{
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-align: center;
}
.home_txt h1{
	width: 300px;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	text-align: center;
	margin: 30px 0;
	color: #fff;
	position: absolute;
	left: 105px;
	z-index: 1;
	background: black;
}
.home_txt .line{
	width: 75%;
	height: 2px;
	background: #ffffff87;
	margin: 0 13%;
	position: absolute;
	top: 78px;
}
.home_img_p{
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
	margin-top: 85px;
}
.home_img_p img{
	width: 50px;
	margin-bottom: 10px;
}
.home_img_p p{
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	line-height: 1.4;
}
.home_txt .h_u_p{
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	margin-top: 30px;
	margin-bottom: 50px;
}
.home_txt a{
	padding: 15px 30px;
	background: #33cc00;
	border-radius: 50px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	color: #fff;
	cursor: pointer;
}

/* Mobile responsive (max-width: 768px)*/
@media only screen and (max-width: 768px) {
	.home{
		height: 450px;
	}
	.home .h_img{
		height: 450px;
	}
	.home .home_txt{
		width: 100%;
		top: 170px;
		left: 0;
		padding: 0 2%;
	}
	.home_txt .h_p1{
		font-size: 16px;
	}
	.home_txt h1{
		font-size: 18px;
		background: none;
		margin: 10px 0;
		position: relative;
		left: 0;
		width: 100%;
    	display: grid;
    	grid-template-columns: auto;
    	justify-content: space-around;
	}
	.home_txt .line{
		display: none;
	}
	.home_img_p{
		margin-top: 15px;
	}
	.home_img_p img{
		width: 30px;
		margin-bottom: 10px;
	}
	.home_img_p p{
		font-size: 10px;
	}
	.home_txt .h_u_p{
		font-size: 13px;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 25px;
	}
	.home_txt a{
		margin-left: 25%;
		padding: 10px 25px;
		font-size: 10px;
		text-align: center;
	}
}

/*Section Style*/
.section{
	width: 100%;
	padding: 50px 10%;
}
.section_txt{
	position: relative;
	text-align: center;
}
.section_txt .s_line{
	width: 50%;
    height: 2px;
    background: #33cc00;
    margin: 0 25%;
    margin-top: 30px;
}
.section_txt h1{
	width: 450px;
	font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
	text-transform: uppercase;
	position: absolute;
	top: -15px;
	left: 314px;
	background: #fff;
}
.section_txt .s_p1{
	font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin: 35px 0;
}
.section_txt button{
	width: 180px;
	height: 40px;
	margin: 0 10px;
	border: 1px solid #33cc00;
	border-radius: 50px;
	background: transparent;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	transition: 0.5s;
}
.section_txt button:hover{
	color: #fff;
	background: #33cc00;
}
.section_grid{
	display: grid;
	grid-template-columns: 23% 23% 23% 23%;
	justify-content: space-between;
	margin-top: 40px;
}
.section_grid img{
	width: 100%;
	height: 200px;
}
.img_u_line{
	width: 50px;
    height: 3px;
    margin-left: 20px;
	background: #33cc00;
}
.img_shadow{
	height: 200px;
}
.img_shadow:before{
	content: "";
	position: absolute;
	width: 248px;
	height: 200px;
	background: #33cc003d;
}
.section_grid h2{
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	margin: 10px 0;
	padding: 0 10px;
}
.section_grid p{
	font-size: 13px;
	padding: 0 10px;
	line-height: 1.4;
	font-family: 'Montserrat', sans-serif;
}
.section_grid button{
	padding: 10px 35px;
	border: 1px solid #33cc00;
	outline: none;
	border-radius: 50px;
	font-size: 12px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	background: transparent;
	cursor: pointer;
	margin: 20px 0 0 45px;
	text-transform: uppercase;
	transition: 0.5s;
}
.section_grid button:hover{
	color: #fff;
	background: #33cc00;
}
.s_g_1, .s_g_2, .s_g_3, .s_g_4{
	width: 100%;
	height: 385px;
	background: #fff;
	cursor: pointer;
	transition: 0.5s;
}
.s_g_1:hover, .s_g_2:hover, .s_g_3:hover, .s_g_4:hover{
	box-shadow: 0 5px 15px #00000024;
}

/* Mobile responsive (max-width: 768px)*/
@media only screen and (max-width: 768px) {
	.section{
		padding: 50px 0;
	}
	.section_txt .s_line{
		display: none;
	}
	.section_txt h1{
		font-size: 15px;
		background: none;
		margin: 10px 0;
		position: relative;
		left: 0;
		width: 100%;
    	display: grid;
    	grid-template-columns: auto;
    	justify-content: space-around;
	}
	.section_txt .s_p1{
		font-size: 11px;
	}
	.section_txt button{
		width: 85px;
	    height: 25px;
	    margin: 0px 6px;
	    font-size: 8px;
	}
	.s_g_1, .s_g_2, .s_g_3, .s_g_4{
		margin-bottom: 50px;
	}
	.section_grid{
		display: block;
		width: 100%;
	}
	.section_grid img{
		width: 100%;
	}
	.img_shadow{
		width: 100%;
	}
	.img_shadow:before{
		width: 100%;
	}
	.section_grid button{
		margin: 20px 0 0 2%;
	}
}


/*Section1 Style*/
.section1{
	width: 100%;
	height: 450px;
	display: inline-block;
	background-image: url(../img/guiter.jpg);
	background-size: cover;
}
.section1:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 450px;
	background: #000000e0;
}
.s_1_txt{
	position: relative;
	text-align: center;
	margin-top: 40px;
}
.s_1_txt .s_line{
	width: 30px;
	position: absolute;
	top: -16px;
	left: -1%;
    height: 2px;
    background: #33cc00;
    margin: 0 25%;
    margin-top: 30px;
}
.s_1_txt .s_line1{
	width: 30px;
	position: absolute;
	top: -16px;
	right: -1%;
    height: 2px;
    background: #33cc00;
    margin: 0 25%;
    margin-top: 30px;
}
.s_1_txt h1{
	font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
	text-transform: uppercase;
	color: #fff;
}
.s_1_txt .s_p1{
	font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin: 30px 0;
    color: #fff;
}
.s_1_grid{
	display: grid;
	grid-template-columns: 20% 20% 20% 20%;
	justify-content: space-between;
	position: relative;
	padding: 0 10%;
	text-align: center;
	margin-top: 100px;
}
.s_1_grid img{
	width: 60px;
	position: absolute;
}
.s1_g_1 img, .s1_g_4 img{
	margin: -29px 0 0 -28px;
}
.s1_g_2 img{
	margin: -19px 0 0 -28px;
}
.s1_g_3 img{
	margin: -25px 0 0 -28px;
}
.s_1_grid .shap{
	width: 40px;
	height: 40px;
	background: #336600;
	border-radius: 100%;
	margin-left: 90px;
}
.s_1_grid h2{
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	margin: 10px 0;
}
.s_1_grid p{
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	line-height: 1.4;
}

/* Mobile responsive (max-width: 768px)*/
@media only screen and (max-width: 768px) {
	.s_1_txt h1{
		font-size: 12px;
		background: none;
		margin: 10px 0;
		position: relative;
		left: 0;
		width: 100%;
    	display: grid;
    	grid-template-columns: auto;
    	justify-content: space-around;
	}
	.s_1_txt .s_line, .s_line1{
		display: none;
	}
	.s_1_txt .s_p1{
		font-size: 13px;
	}
	.s_1_grid{
		display: grid;
		grid-template-columns: 48% 48%;
		justify-content: space-between;
		margin-top: 50px;
		padding: 0 2%;
	}
	.s1_g_1, .s1_g_2{
		margin-bottom: 70px;
	}
	.s_1_grid img{
		width: 40px;
	}
	.s_1_grid .shap{
		display: none;
	}
	.s_1_grid h2{
		font-size: 12px;
		margin-top: 20px;
	}
	.s_1_grid p{
		font-size: 10px;
	}
}


/*Section2 Style*/
.section2{
	width: 100%;
	position: relative;
	padding-top: 50px; 
}

.section2 .s_line{
	width: 30%;
    height: 2px;
    background: #33cc00;
    margin: 0 35%;
    margin-top: 30px;
}
.section2 h1{
	width: 310px;
	font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
	text-transform: uppercase;
	position: absolute;
	top: 66px;
    left: 520px;
	background: #fff;
}
.section2 .s_p1{
	font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 35px;
    text-align: center;
}
.section2_left{
	float: left;
}
.section2_left img{
	width: 700px;
}
.section2_right{
	padding: 40px 10% 0 0;
}
.section2_right h2{
	font-size: 18px;
    font-family: 'Montserrat', sans-serif;
 }
.section2_right .s_2_u_line{
 	width: 60px;
    height: 2px;
 	background: #33cc00;
 	margin: 20px 0 15px 0;
 	display: inline-block;
}
.section2_right p{
 	font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin-bottom: 20px;
}
.section2_right button{
	padding: 15px 25px;
	background: #33cc00;
	border-radius: 50px;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	outline: none;
}

/* Mobile responsive (max-width: 768px)*/
@media only screen and (max-width: 768px) {
	.section2 h1{
		font-size: 12px;
		background: none;
		margin: 10px 0;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
    	display: grid;
    	grid-template-columns: auto;
    	justify-content: space-around;
	}
	.section2 .s_line{
		display: none;
	}
	.section2 .s_p1{
		margin-top: 10px;
	}
	.section2_left img{
		width: 100%;
	}
	.section2_right{
		padding: 40px 2% 0 2%;
	}
	.section2_right h2{
		font-size: 15px;
	}
	.section2_right button{
		padding: 10px 20px;
		font-size: 10px;
	}
}


/*Section3 Style*/
.section3{
	width: 100%;
	display: inline-block;
	padding: 50px 10%;
	position: relative;
}
.section3 .s_line{
	width: 45%;
    height: 2px;
    background: #33cc00;
    margin: 0 25%;
    margin-top: 30px;
}
.section3 h1{
	width: 410px;
	font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
	text-transform: uppercase;
	position: absolute;
	top: 66px;
    left: 439px;
	background: #fff;
}
.section3 .s_p1{
	font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin: 35px 0;
    text-align: center;
}
.section3_left{
	float: left;
	width: 40%;
	margin: 50px 0 0 10%;
}
.section3_right{
	float: right;
}
.section3_left h2{
	font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}
.section3_left p{
	font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Mobile responsive (max-width: 768px)*/
@media only screen and (max-width: 768px) {
	.section3{
		padding: 50px 2%;
	}
	.section3 h1{
		font-size: 12px;
		background: none;
		margin: 10px 0;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
    	display: grid;
    	grid-template-columns: auto;
    	justify-content: space-around;
	}
	.section3 .s_line{
		display: none;
	}
	.section3 .s_p1{
		font-size: 13px;
		margin: 10px 0;
	}
	.section3_left{
		width: 100%;
		margin: 30px 0 0 0;
	}
	.section3_right img{
		width: 100%;
	}
	.section3_left h2{
		font-size: 15px;
	}
}




/*Section4 Style*/
.section4{
	width: 100%;
	height: 540px;
	display: inline-block;
	background-image: url(../img/gtr.jpg);
	background-size: cover;
	overflow: hidden;
}
.section4:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 540px;
	background: #000000e0;
}
.s_4_txt{
	position: relative;
	text-align: center;
	margin-top: 40px;
}
.s_4_txt .s_line{
	width: 30px;
	position: absolute;
	top: -16px;
	left: 6%;
    height: 2px;
    background: #ffffff80;
    margin: 0 25%;
    margin-top: 30px;
}
.s_4_txt .s_line1{
	width: 30px;
	position: absolute;
	top: -16px;
	right: 6%;
    height: 2px;
    background: #ffffff80;
    margin: 0 25%;
    margin-top: 30px;
}
.s_4_txt h1{
	font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
	text-transform: uppercase;
	color: #fff;
}
.s_4_txt .s_p1{
	font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0;
    color: #fff;
}
.section4_grid{
	position: relative;
	display: grid;
	grid-template-columns: 28% 28% 28%;
	justify-content: space-between;
	padding: 0 10%;
	text-align: center;
	margin: 60px 0;
	animation: animate 2s linear infinite;
}

.section4_grid h2{
	font-size: 15px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	margin: 10px;
}
.section4_grid p{
	font-size: 13px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.4;
}
.controler{
	position: relative;
	text-align: center;
	cursor: pointer;
}
.controler div{
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 50px;
	display: inline-block;
}
.controler .line2{
	background: #33cc00;
}

/* Mobile responsive (max-width: 768px)*/
@media only screen and (max-width: 768px) {
	.s_4_txt h1{
		font-size: 12px;
		background: none;
		margin: 10px 0;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
    	display: grid;
    	grid-template-columns: auto;
    	justify-content: space-around;
	}
	.s_4_txt .s_line, .s_line1{
		display: none;
	}
	.s_4_txt .s_p1{
		font-size: 13px;
	}
	.section4_grid{
		display: block;
	}
	.section4_grid1, .section4_grid3{
		display: none;
	}
}


/*Section5 Style*/
.section5{
	width: 100%;
	height: 450px;
	display: inline-block;
	background-image: url(../img/h-l.jpg);
	background-size: cover;
}
.section5:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 450px;
	background: #ffffffc2;
}
.s_5_txt{
	position: relative;
	text-align: center;
	margin-top: 40px;
}
.s_5_txt .s_line{
	width: 30px;
	position: absolute;
	top: -16px;
	left: -1%;
    height: 2px;
    background: #33cc00;
    margin: 0 25%;
    margin-top: 30px;
}
.s_5_txt .s_line1{
	width: 30px;
	position: absolute;
	top: -16px;
	right: -1%;
    height: 2px;
    background: #33cc00;
    margin: 0 25%;
    margin-top: 30px;
}
.s_5_txt h1{
	font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
	text-transform: uppercase;
}
.s_5_txt .s_p1{
	font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0;
}
.s_5_grid{
	display: grid;
	grid-template-columns: 20% 20% 20% 20%;
	justify-content: space-between;
	position: relative;
	padding: 0 15%;
	text-align: center;
}
.s_5_grid .shap5{
	width: 30px;
	height: 30px;
	background: #93d073;
	border-radius: 100%;
	margin-left: 81px;
}
.s_5_grid h1{
	color: #cac1ba;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	margin: 10px 0;
	font-weight: bold;
}
.s_5_grid p{
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	line-height: 1.4;
	margin-bottom: 20px;
}
.btn_txt{
	width: 100%;
	position: relative;
	text-align: center;
}
.section5 button{
	border: none;
	width: 180px;
    height: 40px;
    margin: 40px 0 15px 0;
    background: #33cc00;
    color: #fff;
    border-radius: 50px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}
.section5 p{
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}
.section5 p b{
	margin-right: 5px;
}

/* Mobile responsive (max-width: 768px)*/
@media only screen and (max-width: 768px) {
	.s_5_txt h1{
		font-size: 12px;
		background: none;
		margin: 10px 0;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
    	display: grid;
    	grid-template-columns: auto;
    	justify-content: space-around;
	}
	.s_5_txt .s_line, .s_line{
		display: none;
	}
	.s_5_txt .s_p1{
		font-size: 13px;
		margin: 10px 0;
	}
	.s_5_grid{
		display: grid;
		grid-template-columns: 48% 48%;
		padding: 0 2%;
	}
	.s_5_grid h1{
		font-size: 30px;
	}
	.s_5_grid p{
		font-size: 10px;
		margin-bottom: 10px;
	}
	.s_5_grid .shap5{
		width: 20px;
		height: 20px;
		margin-left: 50%;
    	transform: translate(-50%);
    	margin-bottom: 50px;
	}
	.section5 button{
		margin: 0 0 15px 0;
	}
	.section5{
		height: 550px;
	}
	.section5:before{
		height: 550px;
	}
}


/*Footer Style*/
footer{
	width: 100%;
	padding: 0 10%;
	text-align: center;
	display: inline-block;
	background: black;
	z-index: 1;
}
footer .logo{
	float: left;
	padding: 10px 0;
	cursor: pointer;
}
footer .logo img{
	float: left;
	width: 40px;
}
footer .logo p{
	float: left;
	color: #fff;
	font-family: arial;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	margin: 5px 0 0 5px;
}
footer .logo p span{
	float: left;
}
footer .footer_mid{
	display: inline-block;
	padding: 15px 0;
}
.footer_mid .f_m_line{
	width: 80px;
	height: 4px;
	background: #33cc00;
	margin: 0 0 10px 250px;
}
.footer_mid p{
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	color: #9e9e9e;
	margin-left: 195px;
}
footer .menu{
	float: right;
	padding: 19px 0;
}
footer .menu ul{
	list-style: none;
}
footer .menu li{
	display: inline-block;
	margin: 0 15px;
}
footer .menu li a{
	text-decoration: none;
	text-transform: capitalize;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	padding: 20px 0 0 0;
}
footer .menu li a:hover{
	border-top: 1px solid #fff;
}

/* Mobile responsive (max-width: 768px)*/
@media only screen and (max-width: 768px) {
	footer{
		padding: 0 2%;
	}
	footer .logo img{
		width: 35px;
	}
	footer .logo p{
		font-size: 11px;
	}
	footer .footer_mid{
		display: inline-block;
		float: right;
	}
	.footer_mid .f_m_line{
		display: none;
	}
	.footer_mid p{
		margin-left: 0px;
	}
	footer .menu{
		width: 100%;
	}
	footer .menu ul{
		width: 100%;
		display: grid;
		grid-template-columns: auto auto auto auto;
		justify-content: space-between;
	}
	footer .menu li a{
		padding: 5px 0 0 0;
	}
}
